*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
.env
**/.env
*.env
serviceAccountKey.json
google-services.json
node_modules/
**/serviceAccountKey.json
**/node_modules/

# Documentation
*.md

# Security and API Keys
apikey.properties
secrets.properties
*.keystore
*.jks
